def zatrat(N, rasst, tarif):
    zatratt = float('inf')
    massiv = []

    matrixazatrat = [[0] * N for _ in range(N)]

    for i in range(N):
        for j in range(N):
            matrixazatrat[i][j] = rasst[j] * tarif[i]

    for i in range(N):
        raspolozhenie = sorted(range(N), key=lambda x: matrixazatrat[i][x])
        tekzatrat = sum(matrixazatrat[j][raspolozhenie[j]] for j in range(N))

        if tekzatrat < zatratt:
            zatratt = tekzatrat
            massiv = [x + 1 for x in raspolozhenie]

    return massiv, zatratt


N = int(input("Введите количество сотрудников: "))
rasst = list(map(int, input("Введите расстояния от работы до домов: ").split()))
tarif = list(map(int, input("Введите тарифы за проезд в такси: ").split()))

raspolozhenie, zatratt = zatrat(N, rasst, tarif)
print("Номера рассадки: " + " ".join(map(str, raspolozhenie)))
print(f"{zatratt:.2f} руб.")
